name: Auto Update

on:
  workflow_dispatch:
  schedule:
  - cron: '0 */6 * * *'

jobs:
  deploy:
    name: Update packages
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Bucket Updates
      uses: shovel-org/GithubActions@main
      env:
        GITH_EMAIL: development@voke.dev
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SKIP_UPDATED: '1'
